<div class="join">
  <label for="nameField">Your name</label>
  <input id="nameField" type="text" />
  <button id="joinButton">Join</button>
</div>

<div class="voting">
  <label for="vote">Your vote:</label>
  <input type="number" id="vote" min="0" />
  <button id="voteButton">Vote</button>
</div>

<div class="players">
  <%# <div class="player">
    <div class="card" />
    <div class="name">
      Fredrik
    </div>
  </div> %>
</div>
